/* Set global styles */
body {
  color: #333;
  background-color: #F5F5F5;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

/* Container styles */
.container {
max-width: 1200px;
margin: 0 auto;
padding: 1rem;
}

/* Header styles */
.header {
background-color: #004D4D;
border-radius: 6px;
color: #FFF;
font-size: 24px;
padding: 1rem;
text-align: center;
}

/* Panel caption styles */
.panel-caption {
background-color: #006666;
border-radius: 6px;
color: #FFF;
font-size: 20px;
padding: 0.5rem;
text-align: center;
margin-top: 1rem;
margin-bottom: 1rem;
}

/* Styles for level panels */
.overview-panel-level {
background-color: #FFF;
border-radius: 3px;
color: #333;
padding: 1rem;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Headings */
h2 {
margin-bottom: 1rem;
}


/* Link styles */
a {
    color: #004d4d;  /* Retain the existing color */
    text-decoration: underline;  /* Underline links */
}
a:hover, a:focus {
    color: #d9534f;  /* Change color on hover and focus to Bootstrap's danger color for a contrasting red */
}

/* Paragraphs */
p {
margin-bottom: 1rem;
}
